In [1]:
import joblib
import json
import pandas as pd

from sklearn.neighbors import KNeighborsClassifier

In [2]:
data_train= pd.read_csv('../data/features.train.csv').set_index('id')
data_train

,age-group,education-num,capitalgain,capitalloss,hoursperweek,education,workclass_state-gov,workclass_private,workclass_self-emp-inc,workclass_self-emp-not-inc,...,occupation_armed-forces,relationship_own-child,relationship_unmarried,relationship_not-in-family,relationship_husband,relationship_wife,relationship_other-relative,sex_male,sex_female,label
id,,,,,,,,,,,,,,,,,,,,,
8548,0.869496,-2.099773,-0.329842,-0.230726,-0.053017,12.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
25685,-0.729126,0.215614,-0.329842,-0.230726,-0.053017,5.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
21888,1.668806,1.373307,-0.329842,-0.230726,-0.053017,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
15391,0.070185,-0.170284,-0.329842,-0.230726,-1.200624,2.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
24388,-1.528436,-0.170284,-0.329842,-0.230726,2.242196,2.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8695,-1.528436,-0.170284,-0.329842,-0.230726,-0.053017,2.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
2192,0.070185,-0.170284,1.793965,-0.230726,-0.053017,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
8250,-1.528436,-0.556182,-0.329842,-0.230726,-0.053017,4.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
18511,0.070185,1.373307,-0.329842,-0.230726,-2.348230,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
16074,0.070185,-0.942080,-0.329842,-0.230726,1.094589,6.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [3]:
X_train = data_train.drop(['label'], axis='columns')
y_train = data_train['label']

In [5]:
model = KNeighborsClassifier(
    n_neighbors=5,
    weights='uniform', 
    p=2, 
)

In [ ]:
model.fit(X_train, y_train)

In [ ]:
joblib.dump(model, './model/model.joblib')

In [ ]:
config = model.get_params()

In [ ]:
with open('./model/config.json', 'w') as f:
    json.dump(config, f, indent=4)