In [1]:
import numpy
import pandas
import joblib
import json
import seaborn

import sklearn

# Instructions

- Read **the test data** from the CSV file and properly set the index
- Load the trained model

In [2]:
data_test= pandas.read_csv('../data/features.train.csv').set_index('id')
data_test

,age-group,education-num,capitalgain,capitalloss,hoursperweek,education,workclass_state-gov,workclass_private,workclass_self-emp-inc,workclass_self-emp-not-inc,...,occupation_armed-forces,relationship_own-child,relationship_unmarried,relationship_not-in-family,relationship_husband,relationship_wife,relationship_other-relative,sex_male,sex_female,label
id,,,,,,,,,,,,,,,,,,,,,
8548,0.869496,-2.099773,-0.329842,-0.230726,-0.053017,12.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
25685,-0.729126,0.215614,-0.329842,-0.230726,-0.053017,5.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
21888,1.668806,1.373307,-0.329842,-0.230726,-0.053017,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
15391,0.070185,-0.170284,-0.329842,-0.230726,-1.200624,2.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
24388,-1.528436,-0.170284,-0.329842,-0.230726,2.242196,2.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8695,-1.528436,-0.170284,-0.329842,-0.230726,-0.053017,2.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
2192,0.070185,-0.170284,1.793965,-0.230726,-0.053017,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
8250,-1.528436,-0.556182,-0.329842,-0.230726,-0.053017,4.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
18511,0.070185,1.373307,-0.329842,-0.230726,-2.348230,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
16074,0.070185,-0.942080,-0.329842,-0.230726,1.094589,6.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [3]:
model = joblib.load('./model/model.joblib')
model

MLPClassifier(activation='logistic', alpha=0.0, batch_size=32,
              hidden_layer_sizes=(20, 10), learning_rate_init=0.1,
              max_iter=1000, momentum=0.0, n_iter_no_change=1000,
              nesterovs_momentum=False, random_state=0, solver='sgd',
              validation_fraction=0.0)

# Instructions
- Calculate and add the `prediction` column to the dataframe of test data
- Write the dataframe to `./results/G7_predictions.test.csv`

In [4]:
predictions = model.predict(
    X = data_test.drop(['label'], axis = 'columns')
)
predictions

array([0., 0., 1., ..., 0., 1., 0.])

In [5]:
data_test['prediction'] = predictions
data_test

,age-group,education-num,capitalgain,capitalloss,hoursperweek,education,workclass_state-gov,workclass_private,workclass_self-emp-inc,workclass_self-emp-not-inc,...,relationship_own-child,relationship_unmarried,relationship_not-in-family,relationship_husband,relationship_wife,relationship_other-relative,sex_male,sex_female,label,prediction
id,,,,,,,,,,,,,,,,,,,,,
8548,0.869496,-2.099773,-0.329842,-0.230726,-0.053017,12.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
25685,-0.729126,0.215614,-0.329842,-0.230726,-0.053017,5.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
21888,1.668806,1.373307,-0.329842,-0.230726,-0.053017,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0
15391,0.070185,-0.170284,-0.329842,-0.230726,-1.200624,2.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0
24388,-1.528436,-0.170284,-0.329842,-0.230726,2.242196,2.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8695,-1.528436,-0.170284,-0.329842,-0.230726,-0.053017,2.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2192,0.070185,-0.170284,1.793965,-0.230726,-0.053017,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
8250,-1.528436,-0.556182,-0.329842,-0.230726,-0.053017,4.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
18511,0.070185,1.373307,-0.329842,-0.230726,-2.348230,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0
16074,0.070185,-0.942080,-0.329842,-0.230726,1.094589,6.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

# Instructions
- Use `sklearn.metrics.confusion_matrix` to calculate the confusion matrix

In [6]:
confusion_m = sklearn.metrics.confusion_matrix(
    y_true = data_test['label'],
    y_pred = data_test['prediction'],
)
confusion_m

array([[7237, 1240],
       [1065, 5087]])

In [7]:
pandas.DataFrame(sklearn.metrics.classification_report(
    y_true = data_test['label'],
    y_pred = data_test['prediction'],
output_dict = True))

                   0.0          1.0  accuracy     macro avg  weighted avg
precision     0.871718     0.804015  0.842436      0.837866      0.843246
recall        0.853722     0.826886  0.842436      0.840304      0.842436
f1-score      0.862626     0.815290  0.842436      0.838958      0.842719
support    8477.000000  6152.000000  0.842436  14629.000000  14629.000000

In [8]:
scores = {
    'precision': {
        '0.0': 0.871718		,
        '1.0': 0.804015,
        'macro_avg':0.837866,
        'weighted_avg':0.843246
    },
    'recall': {
        '0.0': 0.853722,
        '1.0':0.826886,
        'macro_avg': 0.840304,
        'weighted_avg': 0.842436	
    },
    'f1-score': {
        '0.0': 0.862626,
        '1.0': 0.815290,
        'macro_avg':0.838958,
        'weighted_avg':0.842719
    },
    'support': {
        '0.0': 8477.000000,
        '1.0': 6152.000000,
        'total': 14629.000000	
    },
    'accuracy':0.842436	
}

In [9]:
with open('./results/scores.test.json', 'w') as file:
    json.dump(scores, file)